<div style="padding: 40px 0; color: #ccc"></div>
<div class="row">
    <div class="col-md-3  hidden-xs hidden-sm">



        <div class="row column_box">
            <div class="col-sm-12">
                <span class="glyphicon glyphicon-fire  column_title">&nbsp;知识分类</span>
            </div>
        </div>
        <div class="panel panel-default  side_column">
            <div class="panel-body">
                <div id="loadingDivId"></div>
                <ul id="docRoottypeUl" class="doctypeUl">
                    <li>
                        <h5 class="showLableType">
                            <a id="402881f14af310bc014af322996f0006" onclick="clickType(this)" style="font-weight: bold; color: red;">EKCP知识管理</a>
                            <span class="farm_tree_num">45</span>&nbsp;
                            <a class="glyphicon farm_tree_flag 402881f14af310bc014af322996f0006 farm_tree_h glyphicon-chevron-up"
                                onclick="clickTreeFlag(this,1,'402881f14af310bc014af322996f0006')"></a>
                        </h5>
                        <ul id="doc402881f14af310bc014af322996f0006typeUl" style="display: block;">
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35f0c0d75015f0ffd944c001b" onclick="clickType(this)">EKCP开发版</a>
                                    <span class="farm_tree_num">2</span>
                                </h5>
                                <ul id="doc8a2831b35f0c0d75015f0ffd944c001btypeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35f0c0d75015f0ffe112c001c" onclick="clickType(this)">EKCP商业版</a>
                                    <span class="farm_tree_num">3</span>
                                </h5>
                                <ul id="doc8a2831b35f0c0d75015f0ffe112c001ctypeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b350e6b01f0150e6b9beb7008c" onclick="clickType(this)">WCP非商业版</a>
                                    <span class="farm_tree_num">7</span>
                                </h5>
                                <ul id="doc8a2831b350e6b01f0150e6b9beb7008ctypeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b350e6d06f0150e6d2d7dd0009" onclick="clickType(this)">文档下载</a>
                                </h5>
                                <ul id="doc8a2831b350e6d06f0150e6d2d7dd0009typeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b350e6b01f0150e6b98ffa008b" onclick="clickType(this)">常见问题</a>
                                    <span class="farm_tree_num">12</span>
                                </h5>
                                <ul id="doc8a2831b350e6b01f0150e6b98ffa008btypeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b350e6b01f0150e6bbcca70093" onclick="clickType(this)">本站资讯</a>
                                    <span class="farm_tree_num">9</span>
                                </h5>
                                <ul id="doc8a2831b350e6b01f0150e6bbcca70093typeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35c4c6712015c679e0942002b" onclick="clickType(this)">二次开发</a>
                                    <span class="farm_tree_num">7</span>&nbsp;
                                    <a class="glyphicon farm_tree_flag 8a2831b35c4c6712015c679e0942002b farm_tree_h glyphicon-chevron-up"
                                        onclick="clickTreeFlag(this,2,'8a2831b35c4c6712015c679e0942002b')"></a>
                                </h5>
                                <ul id="doc8a2831b35c4c6712015c679e0942002btypeUl">
                                    <li>
                                        <h5 class="showLableType">
                                            <a id="8a2831b35f0c0d75015f283219ad0090" onclick="clickType(this)">前台</a>
                                            <span class="farm_tree_num">5</span>
                                        </h5>
                                        <ul id="doc8a2831b35f0c0d75015f283219ad0090typeUl"></ul>
                                    </li>
                                    <li>
                                        <h5 class="showLableType">
                                            <a id="8a2831b35f0c0d75015f283230910091" onclick="clickType(this)">后台</a>
                                        </h5>
                                        <ul id="doc8a2831b35f0c0d75015f283230910091typeUl"></ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35c6b986b015c6cd25c9b001e" onclick="clickType(this)">服务配置</a>
                                    <span class="farm_tree_num">4</span>
                                </h5>
                                <ul id="doc8a2831b35c6b986b015c6cd25c9b001etypeUl"></ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h5 class="showLableType">
                            <a id="402888304e2d75fe014e3d72e891000c" onclick="clickType(this)">编程</a>
                            <span class="farm_tree_num">158</span>&nbsp;
                            <a class="glyphicon farm_tree_flag 402888304e2d75fe014e3d72e891000c farm_tree_h glyphicon-chevron-up"
                                onclick="clickTreeFlag(this,1,'402888304e2d75fe014e3d72e891000c')"></a>
                        </h5>
                        <ul id="doc402888304e2d75fe014e3d72e891000ctypeUl">
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35239b14301523f411c74005c" onclick="clickType(this)">web前端</a>
                                    <span class="farm_tree_num">43</span>&nbsp;
                                    <a class="glyphicon farm_tree_flag 8a2831b35239b14301523f411c74005c farm_tree_h glyphicon-chevron-up"
                                        onclick="clickTreeFlag(this,2,'8a2831b35239b14301523f411c74005c')"></a>
                                </h5>
                                <ul id="doc8a2831b35239b14301523f411c74005ctypeUl" style="display: block;">
                                    <li>
                                        <h5 class="showLableType">
                                            <a id="8a2831b35f0c0d75015f323e7a5c00e4" onclick="clickType(this)">超文本编辑器</a>
                                            <span class="farm_tree_num">1</span>
                                        </h5>
                                        <ul id="doc8a2831b35f0c0d75015f323e7a5c00e4typeUl"></ul>
                                    </li>
                                    <li>
                                        <h5 class="showLableType">
                                            <a id="8a2831b35f3f6d73015f522c00990752" onclick="clickType(this)">BOOTSTRAP模板下载</a>
                                            <span class="farm_tree_num">1</span>
                                        </h5>
                                        <ul id="doc8a2831b35f3f6d73015f522c00990752typeUl"></ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35239b14301523f41b21a005e" onclick="clickType(this)">编程语言</a>
                                </h5>
                                <ul id="doc8a2831b35239b14301523f41b21a005etypeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b350f469a70150fa2c76d300ce" onclick="clickType(this)">java</a>
                                    <span class="farm_tree_num">6</span>
                                </h5>
                                <ul id="doc8a2831b350f469a70150fa2c76d300cetypeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35f0c0d75015f23d223fa007b" onclick="clickType(this)">jsp</a>
                                </h5>
                                <ul id="doc8a2831b35f0c0d75015f23d223fa007btypeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35239b14301523f41dbd8005f" onclick="clickType(this)">互联网</a>
                                </h5>
                                <ul id="doc8a2831b35239b14301523f41dbd8005ftypeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35239b14301523f42031f0060" onclick="clickType(this)">数据库</a>
                                    <span class="farm_tree_num">54</span>
                                </h5>
                                <ul id="doc8a2831b35239b14301523f42031f0060typeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35239b14301523f4249450061" onclick="clickType(this)">系统运维</a>
                                    <span class="farm_tree_num">3</span>
                                </h5>
                                <ul id="doc8a2831b35239b14301523f4249450061typeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b35239b14301523f4271f60062" onclick="clickType(this)">研发管理</a>
                                    <span class="farm_tree_num">2</span>
                                </h5>
                                <ul id="doc8a2831b35239b14301523f4271f60062typeUl"></ul>
                            </li>
                            <li>
                                <h5 class="showLableType">
                                    <a id="8a2831b356c725b30156c729c5c40000" onclick="clickType(this)">javascript</a>
                                    <span class="farm_tree_num">48</span>
                                </h5>
                                <ul id="doc8a2831b356c725b30156c729c5c40000typeUl"></ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            var type_collapse_level = 3;
        </script>


        <script type="text/javascript">
            var type_collapse_level = 2;
        </script>


        <script type="text/javascript">
            var types;

            //点击分类执行的事件
            function clickType(obj) {
                if ($(obj).attr('id')) {
                    window.location = basePath + "webtype/view" + $(obj).attr('id') + "/Pub1.html";
                }
            }
        </script>
    </div>
    <div class="col-md-9">
        <div class="row column_box">
            <div class="col-sm-12">

                <span class="glyphicon glyphicon-fire  column_title">&nbsp;当前分类:/
                    <a style="color: #d9534f" href="webtype/view402881f14af310bc014af322996f0006/Pub1.html" class="active">EKCP知识管理</a>
                </span>





                <!-- 小组、提问、分类中创建知识或问题按钮 -->
                <div class="btn-group hidden-xs" style="float: right;">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" style="margin-left: 4px;" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">


                        创建知识</span>


                    </button>
                </div>


            </div>
        </div>
        <div style="margin-top: 8px;"></div>
        <div class="panel panel-default">
            <div class="panel-body">


                <div class="row hidden-md hidden-lg">
                    <div class="col-sm-12">


                        <h4 style="float: left; margin: 4px;">
                            <a style="color: #428BCA;" href="webtype/view8a2831b35f0c0d75015f0ffd944c001b/Pub1.html">
                                EKCP开发版 </a>

                            <span style="color: #D9534F; font-weight: bold;">2</span>

                        </h4>







                        <h4 style="float: left; margin: 4px;">
                            <a style="color: #428BCA;" href="webtype/view8a2831b35f0c0d75015f0ffe112c001c/Pub1.html">
                                EKCP商业版 </a>

                            <span style="color: #D9534F; font-weight: bold;">3</span>

                        </h4>



                        <h4 style="float: left; margin: 4px;">
                            <a style="color: #428BCA;" href="webtype/view8a2831b350e6b01f0150e6b9beb7008c/Pub1.html">
                                WCP非商业版 </a>

                            <span style="color: #D9534F; font-weight: bold;">7</span>

                        </h4>



                        <h4 style="float: left; margin: 4px;">
                            <a style="color: #428BCA;" href="webtype/view8a2831b350e6b01f0150e6b98ffa008b/Pub1.html">
                                常见问题 </a>

                            <span style="color: #D9534F; font-weight: bold;">12</span>

                        </h4>



                        <h4 style="float: left; margin: 4px;">
                            <a style="color: #428BCA;" href="webtype/view8a2831b350e6d06f0150e6d2d7dd0009/Pub1.html">
                                文档下载 </a>

                        </h4>



                        <h4 style="float: left; margin: 4px;">
                            <a style="color: #428BCA;" href="webtype/view8a2831b350e6b01f0150e6bbcca70093/Pub1.html">
                                本站资讯 </a>

                            <span style="color: #D9534F; font-weight: bold;">9</span>

                        </h4>



                        <h4 style="float: left; margin: 4px;">
                            <a style="color: #428BCA;" href="webtype/view8a2831b35c4c6712015c679e0942002b/Pub1.html">
                                二次开发 </a>

                            <span style="color: #D9534F; font-weight: bold;">7</span>

                        </h4>



                        <h4 style="float: left; margin: 4px;">
                            <a style="color: #428BCA;" href="webtype/view8a2831b35c6b986b015c6cd25c9b001e/Pub1.html">
                                服务配置 </a>

                            <span style="color: #D9534F; font-weight: bold;">4</span>

                        </h4>


                    </div>
                </div>

                <div class="stream-list p-stream">

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="WCP产品部署手册（非exe安装包）">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b3572e7bc501573b5900270006.html">WCP产品部署手册（非exe安装包）





                                            <span class="glyphicon glyphicon-folder-close"></span>

                                        </a>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">WCP非商业版 (
                                        <i class="glyphicon glyphicon-hand-up"></i>1578
                                        <i class="glyphicon glyphicon-comment"></i>0) 2016-09-18 11:31
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="EKCP.v3.5.9专业版产品快速使用手册">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="pull-right hidden-xs " style="overflow: hidden; max-width: 45%;">
                                <img style="height: 120px;" alt="EKCP.v3.5.9专业版产品快速使用手册内容图" src="http://www.wcpdoc.com:80/actionImg/Publoadimg.do?id=8a2831b35f0c0d75015f3a4fe88c0179&amp;type=min">
                            </div>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b35f0c0d75015f3a4ff58c017c.html">EKCP.v3.5.9专业版产品快速使用手册




                                            <span class="glyphicon glyphicon-book"></span>


                                        </a>
                                    </div>

                                    <div>
                                        <p class="doc_node_content">
                                            1简介1.1功能简述本系统为知识管理系统（收集、处理、分享一个组织的全部知识的信息系统）。在本系统中通过知识创建、知识评价、知识更新、知识统计、知识订阅、知识推送等功能进行知识生命周期管理，用户在所被...

                                        </p>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">EKCP商业版 (
                                        <i class="glyphicon glyphicon-hand-up"></i>124
                                        <i class="glyphicon glyphicon-comment"></i>0) 2017-10-20 23:03
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="jQuery EasyUI1.4 API.rar">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="pull-right hidden-xs " style="overflow: hidden; max-width: 45%;">
                                <img style="height: 120px;" alt="jQuery EasyUI1.4 API.rar内容图" src="http://www.wcpdoc.com:80/actionImg/Publoadimg.do?id=8a2831b35f0c0d75015f29086f0b00a6&amp;type=min">
                            </div>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b35f0c0d75015f2907643500a3.html">jQuery EasyUI1.4 API.rar





                                            <span class="glyphicon glyphicon-folder-close"></span>

                                        </a>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">前台 (
                                        <i class="glyphicon glyphicon-hand-up"></i>59
                                        <i class="glyphicon glyphicon-comment"></i>0) 2017-10-17 14:31
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="在后台easyui框架下的数据列表DataGrid中增加选择用户功能">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b35f0c0d75015f289e2bf00098.html">在后台easyui框架下的数据列表DataGrid中增加选择用户功能




                                            <span class="glyphicon glyphicon-book"></span>


                                        </a>
                                    </div>

                                    <div>
                                        <p class="doc_node_content">
                                            1.增加按钮{id:'adduser',text:'导入用户到机构',iconCls:'icon-customers',handler:addUserByOrg}2.按钮实现类//导入用户functi...

                                        </p>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">前台 (
                                        <i class="glyphicon glyphicon-hand-up"></i>58
                                        <i class="glyphicon glyphicon-comment"></i>0) 2017-10-17 12:36
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="在后台easyui框架下创建一个提示窗口">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b35f0c0d75015f2830ba0f008d.html">在后台easyui框架下创建一个提示窗口




                                            <span class="glyphicon glyphicon-book"></span>


                                        </a>
                                    </div>

                                    <div>
                                        <p class="doc_node_content">
                                            $.messager.alert('提示','保存成功！','info');$.messager.alert('错误','错误信息','error');

                                        </p>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">前台 (
                                        <i class="glyphicon glyphicon-hand-up"></i>42
                                        <i class="glyphicon glyphicon-comment"></i>0) 2017-10-17 10:36
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="在后台easyui框架下创建一个等待处理的提示窗口">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b35f0c0d75015f282f726e0089.html">在后台easyui框架下创建一个等待处理的提示窗口




                                            <span class="glyphicon glyphicon-book"></span>


                                        </a>
                                    </div>

                                    <div>
                                        <p class="doc_node_content">
                                            创建进度框$.messager.progress({title:'提示',msg:'',text:'保存中...'});关闭进度框$.messager.progress('close');

                                        </p>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">前台 (
                                        <i class="glyphicon glyphicon-hand-up"></i>41
                                        <i class="glyphicon glyphicon-comment"></i>0) 2017-10-17 10:35
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="后台数据列表中增加一个“修改”功能">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b35f0c0d75015f10ea498d0025.html">后台数据列表中增加一个“修改”功能




                                            <span class="glyphicon glyphicon-book"></span>


                                        </a>
                                    </div>

                                    <div>
                                        <p class="doc_node_content">
                                            在按钮组添加“修改”按钮（jsp：Result页面）在Result页面中增加按钮（DocspecialListParasForm.jsp）{&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text:'设置参数（修改按钮）',&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...

                                        </p>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">二次开发 (
                                        <i class="glyphicon glyphicon-hand-up"></i>90
                                        <i class="glyphicon glyphicon-comment"></i>0) 2017-10-12 22:08
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="如何重新生成预览文件">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b35f0c0d75015f100b8ecd001f.html">如何重新生成预览文件




                                            <span class="glyphicon glyphicon-book"></span>


                                        </a>
                                    </div>

                                    <div>
                                        <p class="doc_node_content">
                                            方法1删除原来的资源文件重新上传新的资源文件方法2找到WDA中生成的预览文件并删除

                                        </p>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">EKCP开发版 (
                                        <i class="glyphicon glyphicon-hand-up"></i>93
                                        <i class="glyphicon glyphicon-comment"></i>0) 2017-10-12 18:05
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002" style="max-width: 200px; text-align: center;"
                                title="WCP&amp;EKCP各版本功能对比">
                                <img class="img-circle side_unit_author_img" alt="系统管理员" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3563f530701563f5c92380003">
                                <br>
                                <span class="side_unit_info">系统管理员</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=40288b854a329988014a329a12f30002">
                                            <span class="side_unit_info">系统管理员:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b35f0c0d75015f0e3318bb0004.html">WCP&amp;EKCP各版本功能对比





                                            <span class="glyphicon glyphicon-folder-close"></span>

                                        </a>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">本站资讯 (
                                        <i class="glyphicon glyphicon-hand-up"></i>136
                                        <i class="glyphicon glyphicon-comment"></i>0) 2017-10-12 09:29
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="webuser/PubHome.do?userid=8a2831b350f0dd3a0150f1b36e04005b" style="max-width: 200px; text-align: center;"
                                title="wcp知识库系统的安装（Linux）">
                                <img class="img-circle side_unit_author_img" alt="游离" src="http://www.wcpdoc.com:80/actionImg/Publoadphoto.do?id=8a2831b3510abcb2015123b08ebe0196">
                                <br>
                                <span class="side_unit_info">游离</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="webuser/PubHome.do?userid=8a2831b350f0dd3a0150f1b36e04005b">
                                            <span class="side_unit_info">游离:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_self" href="webdoc/view/Pub8a2831b3510abcb2015123b24c1f019d.html">wcp知识库系统的安装（Linux）




                                            <span class="glyphicon glyphicon-book"></span>


                                        </a>
                                    </div>

                                    <div>
                                        <p class="doc_node_content">
                                            wcp知识库系统的安装一、准备工作1、WCP源程序，本教程只讲Linux下安装方法。请从WCP官网下载，或在WCP交流群（422838195为防止广告，申请入群时请备注WCP）共享里下载。2、环境要求...

                                        </p>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">本站资讯 (
                                        <i class="glyphicon glyphicon-hand-up"></i>2410
                                        <i class="glyphicon glyphicon-comment"></i>0) 2016-04-22 18:56
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <ul class="pagination pagination-sm">


                            <li class="active">
                                <a>1 </a>
                            </li>





                            <li>
                                <a href="webtype/view402881f14af310bc014af322996f0006/Pub2.html?pagenum=">2</a>
                            </li>




                            <li>
                                <a href="webtype/view402881f14af310bc014af322996f0006/Pub3.html?pagenum=">3</a>
                            </li>




                            <li>
                                <a href="webtype/view402881f14af310bc014af322996f0006/Pub4.html?pagenum=">4</a>
                            </li>




                            <li>
                                <a href="webtype/view402881f14af310bc014af322996f0006/Pub5.html?pagenum=">5</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div style="margin-top: 16px;"></div>

            </div>
        </div>
    </div>
</div>
