<div style="padding: 40px 0; color: #ccc"></div>
<div class="row">
    <div class="col-md-3  hidden-xs hidden-sm">



        <div class="row column_box">
            <div class="col-sm-12">
                <span class="glyphicon glyphicon-fire  column_title">&nbsp;知识分类</span>

            </div>
        </div>
        <div class="panel panel-default  side_column">
            <div class="panel-body">
                <ul id="docRoottypeUl" class="doctypeUl">
                    {{range $k, $v := .classify}} {{range $yjfl,$ejflList:=$v}}
                    <li>
                        <h5 class="showLableType">
                            <a style="font-weight: bold; color: red;" onclick="query({{$yjfl}},'','')"> {{$yjfl}}</a>
                            <a class="glyphicon farm_tree_flag  farm_tree_h glyphicon-chevron-down" onclick="clickTreeFlag(this,1,'402881f14af310bc014af322996f0006')"></a>
                        </h5>
                        <ul style="display: none;">
                            {{range $ejfl,$sjflList:=$ejflList}}
                            <li>
                                <h5 class="showLableType">
                                    <a onclick="query({{$yjfl}},{{$ejfl}},'')">{{$ejfl}}</a>

                                    <a class="glyphicon farm_tree_flag  farm_tree_h glyphicon-chevron-down" onclick="clickTreeFlag(this,2,'8a2831b35c4c6712015c679e0942002b')"></a>
                                </h5>
                                <ul style="display: none;">
                                    {{range $key,$sjfl:=$sjflList}}
                                    <li>
                                        <h5 class="showLableType">
                                            <a onclick="query({{$yjfl}},{{$ejfl}},{{$sjfl}})">{{$sjfl}}</a>

                                        </h5>
                                        <ul></ul>
                                    </li>
                                    {{end}}
                                </ul>
                            </li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}} {{end}}
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <div class="row column_box">
            <div class="col-sm-12">

                <span class="glyphicon glyphicon-fire  column_title">&nbsp;当前分类：

                    {{if eq (.fenlei|len) 0}}
{{else if eq (.fenlei|len) 1}}
/
<a style="color: #d9534f" href="#" class="active">{{.fenlei.yjfl}}</a>
{{else if eq (.fenlei|len) 2}}
/
<a style="color: #d9534f" href="#" class="active">{{.fenlei.yjfl}}</a>
/
<a style="color: #d9534f" href="#" class="active">{{.fenlei.ejfl}}</a>
{{else}}
/
<a style="color: #d9534f" href="#" class="active">{{.fenlei.yjfl}}</a>
/
<a style="color: #d9534f" href="#" class="active">{{.fenlei.ejfl}}</a>
/
<a style="color: #d9534f" href="#" class="active">{{.fenlei.sjfl}}</a>
{{end}}
                </span>



                <!-- 小组、提问、分类中创建知识或问题按钮 -->
                <div class="btn-group hidden-xs" style="float: right;">
                    <a href="/CreateKnowledge" class="btn btn-default btn-sm dropdown-toggle" style="margin-left: 4px;">


                        创建知识</span>


                    </a>
                </div>


            </div>
        </div>
        <div style="margin-top: 8px;"></div>
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="stream-list p-stream">

                        {{range $k, $v := .knowledgedatas}}
                    <div class="stream-item" id="loop-30">
                        <div class="media">
                            <a class="pull-left hidden-xs hidden-sm" href="#" style="max-width: 200px; text-align: center;"
                                title="{{$v.Title}}">
                                <img class="img-circle side_unit_author_img" alt="{{$v.Creator}}" src="{{$.ico}}">
                                <br>
                                <span class="side_unit_info">{{$v.Creator}}</span>
                            </a>

                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="pull-left hidden-md hidden-lg" href="#">
                                            <span class="side_unit_info">{{$v.Creator}}:&nbsp;</span>
                                        </a>
                                        <a class="doc_node_title" target="_blank" href="/content/{{$v.Id}}">{{$v.Title}}




                                            <span class="glyphicon glyphicon-book"></span>


                                        </a>
                                    </div>

                                    <div>
                                        <p class="doc_node_content">
                                                {{substr $v.Content 0 50}}...

                                        </p>
                                    </div>

                                    <div class="side_unit_info side_unit_info_left_box">{{$v.Yjfl}}-{{$v.Ejfl}}-{{$v.Sjfl}}&nbsp;&nbsp;&nbsp;{{$v.Createtime}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{{end}}

                </div>

                <div class="row">
                    <div class="col-xs-12">
                            <nav class="pagination-container">
                                    {{if gt .TotalPages 1}}
                                    {{.PageHtml}}
                                    {{end}}
                                    <div class="clearfix"></div>
                                </nav>
                    </div>
                </div>
                <div style="margin-top: 16px;"></div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function query(yjfl,ejfl,sjfl){
    window.location="/list/?yjfl="+yjfl+"&ejfl="+ejfl+"&sjfl="+sjfl+"&page=1"
}

</script>