<div style="margin-top: 100px;"></div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="panel panel-default userbox" style="margin: auto; margin-top: 30px; margin-bottom: 100px; background-color: #fcfcfc;">
			<div class="panel-body">




				<div class="row">
					<div class="col-xs-12 text-center">
						<h1 style="color: #666;">登录</h1>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="third-part tracking-ad">
							<div class="text-center">
								<img src="{{.ico}}" style="margin: 20px; max-width: 100%;">
								<h1 style="font-size:2em">{{.CompanyEN}}</h1>


							</div>
							<hr>
							<!-- <span>第三方账号登录</span> -->

							<!--  -->

							<!--  -->

						</div>

						<div class="text-center" id="alertMessageErrorId" style="margin: 4px; color: red; display: none;"></div>
					</div>
					<div class="col-sm-6" style="padding: 26px; padding-top: 4px;">
						<form class="form-signin" role="form" id="loginFormId">
							<div class="form-group">
								<label for="exampleInputEmail1"> 登录名 </label>
								<input type="text" class="form-control" placeholder="手机/邮箱/用户登录名" value="" style="margin-top: 4px;" id="loginNameId" name="account"
								 required="" autofocus="">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1"> 登录密码 </label>
								<input type="password" class="form-control" placeholder="请录入密码" style="margin-top: 4px;" id="loginPassWId" name="password"
								 required="">
							</div>


							<!-- <input type="hidden" name="url" id="loginUrlId"> -->
							<div>
								<button class="btn  btn-primary text-left" id="loginButtonId" style="margin-top: 4px;" type="button">登录</button>

							</div>
						</form>
					</div>
				</div>



				<script type="text/javascript">
					$(function () {
						$('#alertMessageErrorId').hide();
						$('#loginButtonId')
							.bind(
							'click',
						function () {

								if ($('#loginNameId').val()
									&& $('#loginPassWId').val()) {
									//$('#loginUrlId').val(document.referrer);
									$.ajax({
										type: "POST",
										url: "/checklogin",
										data: $('#loginFormId').serialize(),
										success: function (data) {

											if (data.msg == "ok") {
												swal(
													{
														title: '恭喜!',
														text: '大吉大利,登录成功!',
														type: 'success',
														timer: 1000
													}
												).then(function(){
													var url = window.location.search;
													var loc = url.substring(url.lastIndexOf('=') + 1, url.length);
													window.location.href = loc;
													});
												

											} else {
												$('#alertMessageErrorId').show();
												$('#romovealertMessageErrorId').hide();
												$('#alertMessageErrorId')
													.html(
													'<span class="glyphicon glyphicon-exclamation-sign"></span>' + data.msg);
											}
										}
									});
								} else {
									$('#alertMessageErrorId').show();
									$('#romovealertMessageErrorId').hide();
									$('#alertMessageErrorId')
										.html(
										'<span class="glyphicon glyphicon-exclamation-sign"></span>请输入用户名/密码');
								}
							});

						$('#loginNameId').keydown(function (e) {
							if (e.keyCode == 13) {
								//$('#loginUrlId').val(window.location.href);
								$('#loginButtonId').click();
							}
						});
						$('#loginPassWId').keydown(function (e) {
							if (e.keyCode == 13) {
								//$('#loginUrlId').val(window.location.href);
								$('#loginButtonId').click();
							}
						});




					});
//-->
				</script>
			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>