<div style="margin-top: 100px;"></div>
<div class="container ">
    <div style="margin-top: 20px;"></div>
    <div class="row column_box">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="row">
                <div class="text-center">
                        <h1 style="font-size:4em">{{.CompanyEN}}</h1>
                </div>
                <div class="col-sm-12 column_box">





                    <script src="/static/css/autocomplete/completer.min.js"></script>
                    <link rel="stylesheet" href="/static/css/autocomplete/completer.css">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <form action="/search" method="post">
                                <div class="input-group">
                                        <input type="text" class="form-control" name="query"  id="query" placeholder="请输入关键字..." autocomplete="off"> <span class="input-group-btn">
                                            <button class="btn btn-info" type="submit">
                                                搜索
                                            </button> 
                                        </span>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;"></div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    
    <!-- /.row -->
    <div class="row ">
        <div class="col-sm-12">
            <!--<--jsp:include page="commons/includeSearchTopDoc.jsp"><--/jsp:include>-->
            
            <div class="widget-box shadow-box" style="padding-bottom: 16px;">
                <div class="title">
                    <h3>
                        <i class="glyphicon glyphicon-tree-conifer"></i> 知识分类
                    </h3>
                </div>
                <div class="stream-list p-stream">
                        {{range $k, $v := .classify}}
                        {{range $yjfl,$ejflList:=$v}}
                    <div class="col-sm-3 docTypeBox">
                            <div style="margin-top: 20px;"></div>
                        <h1>
                            <a onclick="query({{$yjfl}},'','')"> {{$yjfl}} </a>
                        </h1>
                        <ul>
                                {{range $ejfl,$sjflList:=$ejflList}}
                            <li><a onclick="query({{$yjfl}},{{$ejfl}},'')">{{$ejfl}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function query(yjfl,ejfl,sjfl){
        window.location="/list/?yjfl="+yjfl+"&ejfl="+ejfl+"&sjfl="+sjfl+"&page=1"
    }
    
    </script>